body { 
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
    margin: 0;                
}

.screen {
    text-align: center;
    width: 800px;
    height: 400px;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid rgba(19, 19, 224, 0.74);
    border-radius: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border: 2px solid black;
}

input[type="submit"] {
    padding: 10px;
    width: 100px;

}
